*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero{
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.10),
        rgba(0,0,0,0.72)
    ), 
    url(assets/cafe.jpg) ;
    background-size: cover;
    background-position: center;
    min-height: 480px;
    width: 100%;
    color: white;
    padding: 48px;

    
}

.btn-reservar{
    display: inline-block;
    background: radial-gradient(circle, #ED7A26, #6C3FC9);
    color: white;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
}